<div data-ng-controller="Crud">
    <button type="button" class="btn btn-primary btn-lg" data-ng-hide="showAdd" data-ng-click="onAdd()">Add new person</button>
    <!-- Add Person Form -->
    <div class="form-inline" role="form" data-ng-show="showAdd">
        <fieldset>
            <legend>Add New Person</legend>
            <div class="form-group">
                <select data-ng-model="salutation" class="formControl" style="min-width:150px" data-ng-options="s.label for s in salutations">
                    <option value="">Salutation</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" data-ng-model="model.fname" class="formControl" style="min-width:200px" placeholder="first name..." />
            </div>
            <div class="form-group">
                <input type="text" data-ng-model="model.lname" class="formControl" style="min-width:200px" placeholder="last name..." />
            </div>
            <div class="btn-group">
                <button typ="button" data-ng-click="onSave()" class="btn btn-xs btn-success" style="min-width:100px">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;save</button>
            </div>
        </fieldset>
    </div>
    <br/>
    <br/>
    <!-- Grid of existing People -->
    {{loadingMsg}}
    <fieldset data-ng-show="people.length >0">
        <legend>Existing people</legend>
        <table class="table">
            <thead>
                <tr>
                    <th>Salutation</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody data-ng-repeat-start="p in people" data-ng-data="who">
                <tr>
                    <!-- Salutation -->
                    <td style="min-width:95px;">
                        <span data-ng-hide="editRow == $index">{{p.get('salutation')}}</span>
                        <select data-ng-show="editRow == $index" data-ng-model="model.salutation" class="formControl" data-ng-options="s.label as s.label fors in salutations">
                            <option value="">--</option>
                        </select>
                    </td>
                    <!-- First Name -->
                    <td style="min-width:115px;">
                        <span data-ng-hide="editRow == $index">{{p.get('fname')}}</span>
                        <input type="text" data-ng-show="editRow == $index" style="max-width:95px;" data-ng-model="model.fname" class="formControl" placeholder="first name..." />
                    </td>
                    <!-- First Name -->
                    <td style="min-width:115px;">
                        <span data-ng-hide="editRow == $index">{{p.get('lname')}}</span>
                        <input type="text" data-ng-show="editRow == $index" data-ng-model="model.lname" style="max-width:95px;" class="formControl" placeholder="last name..." />
                    </td>
                    <!-- Action Buttons -->
                    <td>
                        <button class="btn btn-xs btn-primary" data-ng-click="onEdit($index)" data-ng-hide="editRow==$index" style="min-width:70px;">
                            <span class="glyphicon glyphicon-pencil "></span>&nbsp;edit
                        </button>
                        <button class="btn btn-xs btn-danger" data-ng-hide="editRow==$index" data-ng-click="onDelete($index)" style="min-width:70px;">
                            <span class=" glyphicon glyphicon-trash "></span>&nbsp;delete
                        </button>
                        <button class="btn btn-xs btn-success" data-ng-show="editRow==$index" data-ng-click="onSave()" style="min-width:70px;">
                            <span class="glyphicon glyphicon-floppy-disk "></span>&nbsp;save
                        </button>
                        <button class="btn btn-xs btn-default" data-ng-show="editRow==$index" data-ng-click="onCancel()" style="min-width:70px;">
                            <span class="glyphicon glyphicon-remove "></span>&nbsp;cancel
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot data-ng-repeat-end>
                <!--Paging would be good-->
            </tfoot>
        </table>
    </fieldset>

</div>